<style>
h3 {
  font-family: Verdana;
}
p {
  font-family: Verdana;
  font-size: 12px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
    font-size: 12px;
}
a:link, a:visited {
    background-color: #2F2933;
    color: white;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Verdana;
    font-size: 12px;
}
a:hover, a:active {
    background-color: #01A2A6;
}
</style>
<form method="post" action="">
  {% csrf_token %}
  <table>
    <tr>
      <th style = background-color:red>RED ALLIANCE</th>
      <th style = background-color:blue>BLUE ALLIANCE</th>
    </tr>
    <tr>
      <td>{{ team_number_form.red_one }}</td>
      <td>{{ team_number_form.blue_one }}</td>
    </tr>
    <tr>
      <td>{{ team_number_form.red_two }}</td>
      <td>{{ team_number_form.blue_two }}</td>
    </tr>
    <tr>
      <td>{{ team_number_form.red_three }}</td>
      <td>{{ team_number_form.blue_three }}</td>
    </tr>
  </table>
  <input type="submit" value="Submit" />
</form>
<br></br>
<a href="{% url 'home' %}">Back to Home</a>
