
<style>
  p {
    font-family: Verdana;
    font-size: 12px;
  }
  a:link, a:visited {
      background-color: #2F2933;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: Verdana;
  }
  a:hover, a:active {
      background-color: #01A2A6;
  }
</style>
<form method="post" action="">
  {% csrf_token %}
  <p>
    {{ drive_form.team_number.errors }}
    <label for="{{ drive_form.team_number.id_for_label }}">Team Number:</label>
    {{ drive_form.team_number }}
    <br></br>
    {{ drive_form.drivetrain.errors }}
    <label for="{{ drive_form.drivetrain.id_for_label }}">Drivetrain:</label>
    {{ drive_form.drivetrain }}
    <br></br>
    {{ drive_form.gear_reduc.errors }}
    <label for="{{ drive_form.gear_reduc.id_for_label }}">Gear Reduction:</label>
    {{ drive_form.gear_reduc }}
    <br></br>
    {{ drive_form.motors.errors }}
    <label for="{{ drive_form.motors.id_for_label }}">Number of Motors:</label>
    {{ drive_form.motors }}
    <br></br>
    {{ drive_form.extra_notes.errors }}
    <label for="{{ drive_form.extra_notes.id_for_label }}">Notes:</label>
    {{ drive_form.extra_notes }}
  </p>
  <input type="submit" value="Submit" />
</form>
<a href="{% url 'home' %}">Back to Home</a>
