{% csrf_token %}
<style>
a:link, a:visited {
    background-color: #2F2933;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Verdana;
}
a:hover, a:active {
    background-color: #01A2A6;
}
h3 {
  font-family: Verdana;

}
</style>
<h3>FRCStats Home Page</h2>
<p><a href="{% url 'match' %}">Input Match Info</a>
<a href="{% url 'team-stats' %}">Look Up Team Stats</a></p>
<a href="{% url 'team-raw-stats' %}">Look Up Team Match Info</a>
<a href="{% url 'drive' %}">Add Drivetrain Info</a>
