<style>
a:link, a:visited {
    background-color: #2F2933;
    color: white;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Verdana;
    font-size: 12px;
}
a:hover, a:active {
    background-color: #01A2A6;
}
p {
  font-family: Verdana;
  font-size: 12px;
}
</style>
<p>
That team is not competing this year!
<br></br>
If you are looking for more information, try thebluealliance.com!
<br> </br>
<a href="{% url 'home' %}">Back to Home</a></p>
