<!-- This document is where the team stats will be able to be called and selected -->
{% csrf_token %}
{% for team in teams %}
  {{ team.team_number }}
{% endfor %}
{{ auton_low_stats }}
{{ auton_high_stats }}
{{ auton_def_reached_values }}
{{ auton_def_crossed_values }}
{{ teleop_low_stats }}
{{ teleop_high_stats }}
{{ hang_value }}
{{ hang_fail }}
{{ played_def_stats }}
{{ portc_stats_value }}
{{ portc_stuck_stats }}
{{ drawb_stats_value }}
{{ drawb_stuck_stats }}
{{ cdf_stats_value }}
{{ cdf_stuck_stats }}
{{ moat_stats_value }}
{{ moat_stuck_stats }}
{{ sallyp_stats_value }}
{{ sallyp_stuck_stats }}
{{ rought_stats_value }}
{{ rought_stuck_stats }}
{{ lowbar_stats_value }}
{{ lowbar_stuck_stats }}
{{ ramparts_stats_value }}
{{ ramparts_stuck_stats }}
